.photo img{
    margin: 50px 100px;
    border-radius: 50%;
}
.info{
    display: flex;
}
.name{
    margin-top: 40px;
}
.name p{
    font-size: 25px;
    color: #e6e6e6;
}.name h2{
    font-size: 25px;
    font: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
